node_modules
npm-debug.log
tmp
temp
public/compiled.css
public/compiled.js
.idea/copyright/profiles_settings.xml
.idea/deployment.xml
.idea/election2017.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.remote-sync.json
.env
