<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>GE2017.com - Who should you vote for?</title>
<link rel="canonical" href="<% params.canonical %>">
<meta name="keywords" content="general election 2017, candidates, voting, brexit, immigration, nhs, NHS, environment " >
<meta name="description" content="Who should you vote for in the #GeneralElection2017? Compare parties, explore the main issues, and see who’s standing where you live">
<!--FACEBOOK-->
<meta property="og:title" content="Who should you vote for in the General Election 2017?" >
<meta property="og:site_name" content="GE2017">
<meta property="og:url" content="<% params.quizHome %>" >
<meta property="og:description" content="Who should you vote for in the #GeneralElection2017? Compare parties, explore the main issues, and see who’s standing where you live" >
<meta property="og:image" content="<% params.canonical %><% if(brand=='38degrees'){ %>/img/38degrees_facebook.jpg<% } else{ %>/img/thumbnail-home.jpg<% } %>" >
<meta property="fb:app_id" content="" >
<meta property="og:type" content="website" >
<meta property="og:locale" content="en.GB" >
<!--TWITTER-->
<meta property="twitter:card" content="summary" >
<meta property="twitter:title" content="Who should you vote for in the General Election 2017?" >
<meta property="twitter:description" content="Who should you vote for in the #GeneralElection2017? Compare parties, explore the main issues, and see who’s standing where you live" >
<meta property="twitter:creator" content="" >
<meta property="twitter:url" content="<% params.quizHome %>" >
<meta property="twitter:image" content="" >
<meta property="twitter:image:alt" content="" >
<!--GOOGLE+-->
<link rel="author" href="">
<link rel="publisher" href="">
