<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>GE2017.com - Who should you vote for?</title>
<link rel="canonical" href="//ge2017.com">
<meta name="keywords" content="general election 2017, candidates, voting, brexit, immigration, nhs, NHS, environment " >
<meta name="description" content="Who should you vote for in the #GeneralElection2017? Compare parties, see what tactical voting options are open to you as well as explore the main issues.">
<!--FACEBOOK-->
<meta property="og:title" content="Who should you vote for in the General Election 2017?" >
<meta property="og:site_name" content="GE2017">
<meta property="og:url" content="www.ge2017.com" >
<meta property="og:description" content="Who should you vote for in the #GeneralElection2017? Compare parties, see what tactical voting options are open to you as well as explore the main issues." >
<meta property="og:image" content="/img/thumbnail-home.jpg" >
<meta property="fb:app_id" content="" >
<meta property="og:type" content="website" >
<meta property="og:locale" content="en.US." >
<!--TWITTER-->
<meta property="twitter:card" content="summary" >
<meta property="twitter:title" content="" >
<meta property="twitter:description" content="" >
<meta property="twitter:creator" content="" >
<meta property="twitter:url" content="www.ge2017.com" >
<meta property="twitter:image" content="" >
<meta property="twitter:image:alt" content="" >
<!--GOOGLE+-->
<link rel="author" href="">
<link rel="publisher" href="">
