.card.postcode, .card.share, .card.vote-worth, .content.results, .card.more-stuff {
  text-align: center;
}

.card .card-visible, .content.results, .content.results > div, .content.results section, .content.results .body-content  {
  overflow: visible;
}

.content.results .body-content {
  padding: 10px;
  line-height: 1.2;
}
.content.results .body-content.results {
  padding: 0px;
}
.content.results .body-content {
  line-height: 1.9;
}
.content.results .OrganizationContainer .card-body {
  padding: 10px;
  text-align: left;
}
.content.results .OrganizationContainer .card-body .body-content {
  padding: 0px;
}
.content.results .OrganizationContainer .card-body h2 {
  margin-left: 0px;
  padding-left: 0px;
}
.content.results input,
.content.results button {
  transition: height 0.5s, padding: 0.5s;
  -webkit-transition: height 0.5s, padding: 0.5s;
}
.content.results:not(.resultsLoaded) form.postcode-form input {
  height: 42px;
  font-size: 1.02em;
}
.content.results:not(.resultsLoaded) form.postcode-form button {
  padding: 6px 16px;
  font-size: 1.02em;
  margin-top: -3px;
  background-color: #dd2569;
  color: white;
  border: 4px #dd2569 solid;
}
.content.results:not(.resultsLoaded) form.postcode-form button:hover {
  color: #dd2569;
  background-color: white;
}

.content.results section button {
/*   padding: 12px 12px; */
/*   font-size: 1.02em; */
}

.content.results.resultsLoaded .get-registered .layout-table {
  margin-top: -20px;
}
.content.results.resultsLoaded .register button {
  width: 100% !important;
}

.content.results .register button {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.content.results .register button:hover {
  background-color: #449d44;
  border-color: #398439;
}
.content.results.resultsLoaded .learn-more button, .content.results.resultsLoaded .register button {
  padding: 12px 12px;
  font-size: 1.02em;
}

.content.results.resultsLoaded p.small-link {
  margin: 20px;
  font-size: 0.8em;
}

.content.results h2 {font-size: 1.4em;display: block;}
.content.results h2 img {
  height: 1.25em;
  margin-top: -5px
}
.content.results .body-content h3 {
  font-size: 0.95em;
  margin: 15px 0 4px 0;
}
.content.results .body-content p {
  font-size: 0.8em;
  margin: 0 0 25px 0;
  line-height: 1.5;
}
.content.results .explaainified {
  line-height: 1.7;
}
.content.results .body-content div.bold {
  font-size: 1.2em;
  line-height: 1.3;
}
.content.results .body-content div.subheading {
  font-size: 0.9em;
  margin: 10px 0 5px;
}
.content.results .body-content .seats.swings-2 div.subheading {
  color: #da368f;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.content.results .body-content .seat-list {
  display: table;
  width: 100%;
}
.content.results .share-buttons {
  margin: 10px;
}
.content.results .share-buttons .btn {
  padding: 12px 24px;
/*   width: calc(50% - 10px); */
  font-size: 1.02em;
}
.content.results section {
  width: 100%;
}
.card .layout-table {
  display: table;
  margin: auto;
}
.content.results .column {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}
.content.results .seat.column50 {
  /* display: table-cell; */
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.content.results .seat.column50 div.party {
  background-size: cover;
  background-position: center;
/*   background-image: none !important; */
/*   background-color: #e6e6ff; */
}
.content.results .seat.column50 img.party-image {
  width: 50%;
}


body.desktop .content a.card-icon:hover, body.desktop .card .content a.card-icon:active {
    color: inherit;
    background: transparent;
    border: none;
}

.card .content a.card-icon {
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: none;
    color: inherit;
}

.content.results .slick-container .card {
    width: 355px;
}

.content.results .body-content.results .share-buttons .btn {
  padding: 6px 12px;
  width: auto;
  font-size: 14px;
}

.content.results .body-content.results .card-media {
  border-radius: 5px 5px 0 0;
}

.content.results .body-content.results .card-carousel.layer {
  padding: 10px;
}

.content.results .body-content.results .step-number.step-1 {
  margin-top: -21px;
}



/* quiz priority */
.card.quiz-priority{

}

.card.quiz-priority .card-visible > .content > .body-content{
  margin:auto;
}

.card.quiz-priority .divider{
  border-top: 1px dashed #ddd;
  margin: 20px -20px;
}

.card.quiz-priority h2.q-high-priority, .card.quiz-priority h2.q-low-priority{
  text-align: center;
}

.card.quiz-priority .high-priority, .card.quiz-priority .low-priority{
  min-height: 50px;
}

.card.quiz-priority .quiz-topic-plate{
  display: inline-block;
  padding: 0 5px;
  color: white;
  border-radius: 5px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  position: relative;
}
.card.quiz-priority .quiz-topic-plate:not(.new){
  opacity: .5;
}

.card.quiz-priority .quiz-topic-plate .t-featured{
  position: absolute;
  right: -11px;
  top: -15px;
  font-size: 17px;
}

.card.goto-postcode-button{

}
.card.goto-postcode-button .card-visible{
  border: none;
  text-align: center;
  min-height: 0;
}
.card.goto-postcode-button .card-visible .card-body{
  padding: 0;
}

#matches {
  text-align: left;
  padding: 10px;
}

#toggle-details-btn {
  margin-top: 20px;

}

/* Local candidates */
div.local-candidates-container{
  padding: 5px;
}
.local-candidate-plate{
  display: block;
  width: 50%;
  width: 179px;
  float: left;
  margin: 5px;
  border: 1px solid #ddd!important;
  border-radius: 5px;
  overflow: hidden;
  height: 270px;
}
a.local-candidate-plate{
  padding: 0px!important;
  background-color: transparent!important;
}
a.local-candidate-plate:hover{
  background-color: #ff6e73!important;
}
.local-candidate-plate .lc-image{
  height: 150px;
  background-position: center;
  background-size: cover;
}
.local-candidate-plate .lc-name{
  line-height: 1.4em;
}
.local-candidate-plate .lc-party-name{
  margin:0px;
  line-height: 1.4em;
  font-size: 14px;
}
