body.embed {
  background: transparent;
}

body > div.body {
  min-height: 100vh;
  text-align: center;
  font-size:16px;
  padding-top:10px;
  background-color: none;
  background-image: url('/img/background.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom left;
  background-attachment: fixed;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

body > div.body.backColor {
  background-color: #6296ff;
  background-image: none;
}

a {
  cursor: pointer;
}

button.btn i.fa {
  margin-right: 5px;
}

.error {
  color: red;
  font-weight: bold;
}

body > div.body > div.main {
  /*max-width: 800px;*/
  margin: 0 10px;
}

header {
  text-align: left;
  padding: 10px;
}
header img.ge2017-logo {
  text-align: center;
  height: 25px;
  margin: 10px auto;
  display: block;
}
header a:hover img.ge2017-logo {
  opacity: 0.7;
}
div.body.backColor header img.ge2017-logo {
  -webkit-filter: brightness(100) !important;
  filter: brightness(100) !important;
}
header a.home {
  font-size: 1.1em;
  color: #999;
  position: absolute;
  margin: 9px 0px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}
header a.home.fade-hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
div.body.backColor header a.home {
  color: #ddd;
}
header a.home:hover {
  /*opacity: 0.7;*/
  text-decoration: none;
  color: #dd2569;
}
header a.home:active, header a.home:focus {
  text-decoration: none;
}

i.fa-check {
  font-size: 1.4em;
  display: inline-block;
  color: #02a702;
  margin-top: 10px;
}

img.party-logo {
  width: 40px;
  float: left;
  margin: -6px 20px;
}

img.loading {
  display: none;
  height:40px;
  text-align: center;
  margin: auto;
  margin-top:20px;
  animation-name: loading;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
}
img.loading.showing {
  display: block;
}

@keyframes loading {
  0% {transform: scale(.8,.8); opacity:0}
  60%  {transform: scale(1.1,1.1);opacity:1}
  100%  {transform: scale(1,1);opacity:1}
}

section {
  padding-bottom: 40px;
  max-width: 400px;
  margin: auto;
}
section.wide {
  max-width: 600px;
}
section.xl {
  max-width: 800px;
}

section h1 {
  line-height:1em;
}

section h2 {
  font-weight:500;
}

section.tasks {
  width: 100%;
  max-width: 500px;
  margin: 20px auto 0;
}

p.task-category {
  text-align: left;
}

a.task {
  cursor: pointer;
}

section.tasks a.task {
  display: inline-block;
  width: 160px;
  height: 160px;
  vertical-align: top;
  margin: 10px;
  padding: 20px 10px;
  text-align: center;
  /*font-size: 1.1em;*/
  line-height: 1.3;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

/* igor: multi choice tasks styles */

section.tasks a.task.multi-choice.conditionsMet {
  box-shadow: 0 0 20px #00a2e5;
}

section.tasks a.task.multi-submit {
  display: none;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
}

section.tasks a.task.multi-submit.conditionsMet {
  display: inline-flex;
}



@media only screen and (max-width: 500px) {
  section.tasks a.task {
    width: calc(50% - 20px);
  }
}

section.tasks a.task h5 {
  /*font-size: 1.1em;*/
  font-size: 1.05em;
  /*font-weight: bold;*/
  margin: 0;
}

section.tasks a.task i {
  margin-bottom:30px;
  transform: scale(3,3);
  margin-top:20px;
}

section.tasks a.task:hover {
  opacity: 0.8;
}
section.tasks a.task:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* igor: designing question tasks */

section.questions {
  text-align: center;
}
section.questions a.task {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50px;
  vertical-align: top;
  margin: 4px;
  padding: 0 10px;
  text-align: center;
  line-height: 1.3;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: #00a2e5;
  border-width: 1px;
}

section.questions a.task:nth-child(1) {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
section.questions a.task:nth-child(2) {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
}
section.questions a.task:nth-child(3) {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
section.questions a.task.link {
  background-color: transparent;
  color: black;
}

section.questions a.task h5 {
  /*font-size: 1.1em;*/
  font-size: 0.9em;
  /*font-weight: bold;*/
  margin: 0;
}

section.questions a.task:hover {
  opacity: 0.8;
}

.cards {
  max-width: none; /* Overriding Explaain CSS */
}

.card {
  margin: 30px 0 0 0;
  text-align: left;
}
.slick-container .card {
  width: 380px;
}
.card.postcode, .card.share, .card.vote-worth, .card.postcode-compare {
  text-align: center;
}
.card.expandable {
  max-width: 600px;
}

.card .card-visible {
  padding: 0;
}
.card .card-visible .close {
  display: none !important; /*Temporary */
}
.step.wide .card, .step.wide .card .card-visible, .step.wide .card .content, .step.wide .card section {
  /* todo: why is this needed? */
  height: 300px;
}
.card section {
  padding: 0;
  max-width: none;
}
.card section.divider {
  border-top: 1px solid #ddd;
  padding: 10px;
}
section .card section {
  padding-bottom: 1em;
}
section.wide .card section.expandable {
  display: table-cell;
}
section .card section.card-media {
  background-position: center;
  background-size: cover;
}
section.wide .card section.card-media {
  width: 45%;
}
section.wide .card.story section.card-media {
  width: 55%;
}
section:not(.wide) .card section.card-media {
  min-height: 250px;
}

.card .content, .card .content > div, .card .content section, .card .content h2, .card .content .body-content  {
  overflow: hidden;
}
.card .content {
  margin: 0;
}
.card .body-content {
  margin: auto;
}
.card .content h2 {
  margin: 1em 0;
}
.card .content .card-image {
  overflow: hidden;
  margin: 0;
}
.card .content .card-image img {
    transform: inherit;
}

/* igor: on result cards we want text to be alighed left, temporary */

.card .content.text-left {
  text-align: left;
}

/* igor: styling a form in the card */

.card form.postcode-form {
  margin: 30px 0 25px;
}

.card form.postcode-form button[type="submit"] {
  margin:-2px 2px 0 2px;
}

.card form.postcode-form input[type="text"] {
  max-width: 110px;
  display: inline-block;
  margin: 0 2px 0 2px;
}

.card.postcode-compare section button {
  padding: 12px 20px;
  font-size: 1.02em;
}
.card.postcode-compare section .register button {
  width: 100%;
}

.card.postcode-compare .register button {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.card.postcode-compare .register button:hover {
  background-color: #449d44;
  border-color: #398439;
}


.card form.postcode-form input[type="text"]::-webkit-input-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]::-moz-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]:-ms-input-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]:-moz-placeholder { font-size:12px }

.card h2 {
  font-weight:900;
}

/* igor: animation */

.dashboard h1, .step h1{
  animation-name: h1pop;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes h1pop {
  0% {transform:translateY(-20px);opacity:0}
  100%  {transform:translateY(0px);opacity:1}
}

.dashboard h2 {
  animation-name: h2pop;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: .3s
}

@keyframes h2pop {
  0% {transform:translateY(-10px);opacity:0}
  100%  {transform:translateY(0px);opacity:1}
}

.task {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0) rotate(-5deg);
  animation-fill-mode: forwards;
}

.task:nth-of-type(1){animation-delay: .6s}
.task:nth-of-type(2){animation-delay: .8s}
.task:nth-of-type(3){animation-delay: 1s}
.task:nth-of-type(4){animation-delay: 1.2s}

@keyframes taskpop {
  0% {transform: scale(0,0);}
  80%  {transform: scale(1.1,1.1);}
  100%  {transform: scale(1,1);}
}

.card, .seats {
  animation-name: cardpop;
  animation-duration: .3s;
  opacity:0;
  animation-fill-mode: forwards;
}

.card:nth-of-type(1){animation-delay: .2s}
.card:nth-of-type(2){animation-delay: .4s}
.card:nth-of-type(3){animation-delay: .6s}
.card:nth-of-type(4){animation-delay: .8s}

@keyframes cardpop {
  0% {transform: scale(.8,.8); opacity:0}
  60%  {transform: scale(1.1,1.1);opacity:1}
  100%  {transform: scale(1,1);opacity:1}
}

/* igor: .task-category hiding, temporary */

.task-category {display: none}

/* igor: top-strip */

.top-strip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  /*background-image: url(/img/strip.jpg);*/
  background-color: #dd2569;
  background-size: auto 100%;
  z-index:3;
  background-position: center;
}

@media only screen and (max-width: 500px) {
  .top-strip {
    background-size: 100%;
  }
}

/* igor: card footer */

.card .footer {
/*   margin-top:20px; */
  border-top: solid 1px #ddd;
  padding: 10px;
  text-align: center;
}

/* igor: we want Explaain to ignore some <a> tags in the card and do not style it, temporary */

.card .content a.discard-card-style,
.card .content a.discard-card-style:hover,
.card .content a.discard-card-style:active{
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  text-decoration: none !important;
  color: inherit !important;
}

/* igor: Social buttons */

.share-buttons {
  margin: 20px;
}

.share-buttons .btn {
  margin: 0 5px;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
}

.btn-facebook:hover {
  background-color: #2b4988;
  color: white;
}

.btn-twitter {
  background-color: #00aced;
  color: white;
}

.btn-twitter:hover {
  background-color: #009cdd;
  color: white;
}

/* igor: text styles */

.small {
  font-size:12px;
  margin-bottom: 0;
}

.big {
  font-size: 20px;
}

.bold {
  font-weight:600;
}

.line1em {
  line-height:1em;
}


/* Seats in the location-compare form */

.seats {
  margin: 20px 0
}

.seat .location {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  vertical-align: middle;
}

.seat .versus{
  min-height: 74px;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  border: 1px solid #bbb;
}
.seat .versus .party {
  padding: 10px;
  height: 50%;
  border-top: 1px solid #bbb;
}
.seat .versus .party:nth-child(1) {
  border: none;
}
.seat .vs {
  position: relative;
  top: -10px;
  height: 0;
  color: #eee;
  font-weight: 800
}
.seat .versus .party .name {color: white;line-height: 1.4;font-size: 1em;/* font-weight: 400; */vertical-align: middle;position: relative;top: 50%;transform: translateY(-50%);/*   display: none; */}

/* igor: 50% width columns in cards */
.card .column50 {
  text-align: center;
  display: inline-block;
  margin: 0px;
}
.card.postcode-compare .body-content {
  border-top: 1px solid #ddd;
}
.card.postcode-compare h2 {font-size: 1.4em;display: block;}
.card.postcode-compare .body-content h3 {
  font-size: 0.95em;
  margin: 15px 0 4px 0;
}
.card.postcode-compare .body-content p {
  font-size: 0.8em;
  margin: 0 0 25px 0;
  line-height: 1.5;
}
.card.postcode-compare .body-content div.bold {
  font-size: 1.2em;
  line-height: 1.3;
}
.card.postcode-compare .body-content div.subheading {
  font-size: 0.9em;
  margin: 10px 0 15px;
}
.card.postcode-compare .body-content .seat-list {
  display: table;
  width: 100%;
}
.card.postcode-compare section {
  width: 100%;
}
.card .layout-table {
  display: table;
  margin: auto;
}
.card.postcode-compare .column {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}
.card.postcode-compare .seat.column50 {
  /* display: table-cell; */
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.card.postcode-compare .seat.column50 div.party {
  background-size: cover;
  background-position: center;
/*   background-image: none !important; */
/*   background-color: #e6e6ff; */
}
.card.postcode-compare .seat.column50 img.party-image {
  width: 50%;
}

/* Progress bar */

.progress {
  height:12px;
  width:200px;
  border: solid 1px #ccc;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.progress-inner {
  background-color: #c042de;
  height:100%;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  transition: width .5s;
}
idth .5s;
}
