body.embed {
  background: transparent;
}

body > div.body {
  min-height: 100vh;
  text-align: center;
  font-size:16px;
  padding-top:10px;
  background-color: none;
  background-image: url('/img/background1.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom left;
  background-attachment: fixed;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

body > div.body.quiz {
  background: #f6f6f6;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, button.phrase-button {
  font-family: Lato, Helvetica, sans-serif;
}


body > div.body.backColor {
  background-color: #6296ff;
  background-image: none;
}

a {
  cursor: pointer;
}

button.btn i.fa {
  margin-right: 5px;
}

.error {
  color: red;
  font-weight: bold;
}

.italics {
  font-style: italic;
}

a.explaain-link.dark {
  background: #dedede !important;
  border-color: #dedede !important;
}

body > div.body > div.main {
  /*max-width: 800px;*/
  margin: 0 10px;
}

body > div.body > div.main > div.page-content {
  min-height: 70vh;
}

header {
  text-align: left;
  padding: 10px;
}
header img.ge2017-logo {
  text-align: center;
  height: 35px;
  margin: 10px auto;
  display: block;
  transition: height .4s, margin .4s;
  -webkit-transition: height .4s, margin .4s;
}
.body.quiz header img.ge2017-logo {
  margin-bottom: -20px;
}
.body.quiz.moving header img.ge2017-logo {
  height: 30px;
  margin-bottom: 10px;
}
header img._unilad-logo {
  text-align: center;
  height: 100px;
  margin: -10px auto -40px;
  display: block;
  transition: height .4s, margin .4s;
  -webkit-transition: height .4s, margin .4s;
}
.body.moving header img._unilad-logo {
  height: 60px;
  margin-bottom: 10px;
}
header img._38degrees-logo {
  text-align: center;
  height: 90px;
  margin: -10px auto -20px;
  display: block;
  transition: height .4s, margin .4s;
  -webkit-transition: height .4s, margin .4s;
}
.body.moving header img._38degrees-logo {
  height: 55px;
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  header img.ge2017-logo {
    height: 30px;
  }
}
@media (max-width: 300px) {
  header img.ge2017-logo {
    height: 25px;
  }
}
.body.standalone header {
  margin-bottom: -20px;
/*   pointer-events: none;
  cursor: default; */
}
.body.standalone header a:hover img {
  opacity: 1;
}
header a:hover img.ge2017-logo {
  opacity: 0.7;
}
div.body.backColor header img.ge2017-logo {
  -webkit-filter: brightness(100) !important;
  filter: brightness(100) !important;
}
header a.home {
  display: none;
  font-size: 1.1em;
  color: #999;
  position: absolute;
  margin: 10px 0px;
  opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}
.body.standalone header a.home,
header a.home.fade-hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.body.standalone header a:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

div.body.backColor header a.home {
  color: #ddd;
}
header a.home:hover {
  /*opacity: 0.7;*/
  text-decoration: none;
  color: #dd2569;
}
header a.home:active, header a.home:focus {
  text-decoration: none;
}

footer a.behind-this {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

footer {
  padding-bottom:20px;
}




/* Because of social media panel and Share button */
@media only screen and (max-width: 980px) {
  footer {
    padding-bottom:70px;
  }
  .at-expanding-share-button-toggle-bg {
    bottom:60px;
  }
}

/* Because currently quiz doesn't use social media panel and Share button! */
.body.quiz footer {
  margin: -20px 0;
  padding: 0;
}
.body.quiz footer img {
  height: 70px;
}

i.fa-check {
  font-size: 1.4em;
  display: inline-block;
  color: #02a702;
  margin-top: 10px;
}

img.party-logo {
  width: 40px;
  float: left;
  margin: -6px 20px;
}

img.loading {
  display: none;
  height:50px;
  text-align: center;
  margin:30px auto;
  animation-name: loading;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
}
img.loading.showing {
  display: block;
}


.card .content button.btn,
.card .content a.btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  border-width: 1px;
}
.card .content button.btn:hover,
.card .content a.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  border-width: 1px;
}

.card .content button.btn.btn-primary,
.card .content a.btn.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.card .content button.btn.btn-primary:hover,
.card .content a.btn.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.card .content button.btn.btn-success,
.card .content a.btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.card .content button.btn.btn-success:hover,
.card .content a.btn.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

@keyframes loading {
  0% {transform: scale(.8,.8); opacity:0}
  60%  {transform: scale(1.1,1.1);opacity:1}
  100%  {transform: scale(1,1);opacity:1}
}

section {
  padding-bottom: 40px;
  max-width: 400px;
  margin: auto;
}
section.wide {
  max-width: 600px;
}
section.xl {
  max-width: 800px;
}

section h1 {
  line-height:1em;
}

section h2 {
  font-weight:500;
}

section.tasks {
  width: 100%;
  max-width: 500px;
  margin: 20px auto 0;
}

p.task-category {
  text-align: left;
}

a.task {
  cursor: pointer;
}


section.tasks a.task {
  display: inline-block;
  width: 160px;
  height: 160px;
  vertical-align: top;
  margin: 10px;
  padding: 20px 10px;
  text-align: center;
  /*font-size: 1.1em;*/
  line-height: 1.3;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

/* igor: multi choice tasks styles */

section.tasks a.task.multi-choice.conditionsMet {
  box-shadow: 0 0 20px #00a2e5;
}

section.tasks a.task.multi-submit {
  display: none;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
}

section.tasks a.task.multi-submit.conditionsMet {
  display: inline-flex;
}



@media only screen and (max-width: 500px) {
  section.tasks a.task {
    width: calc(50% - 20px);
  }
}

section.tasks a.task h5 {
  /*font-size: 1.1em;*/
  font-size: 1.05em;
  /*font-weight: bold;*/
  margin: 0;
}

section.tasks a.task i {
  margin-bottom:30px;
  transform: scale(3,3);
  margin-top:20px;
}

section.tasks a.task:hover {
  opacity: 0.8;
}
section.tasks a.task:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* igor: designing question tasks */

section.questions {
  text-align: center;
}
section.questions a.task {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  height: 50px;
  vertical-align: top;
  margin: 4px;
  padding: 0 10px;
  text-align: center;
  line-height: 1.3;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: #00a2e5;
  border-width: 1px;
}

/*section.questions a.task:nth-child(1) {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
section.questions a.task:nth-child(2) {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
}
section.questions a.task:nth-child(3) {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}*/
section.questions a.task.link {
  background-color: transparent;
  color: black;
}

section.questions a.task h5 {
  /*font-size: 1.1em;*/
  font-size: 0.9em;
  /*font-weight: bold;*/
  margin: 0;
}

section.questions a.task:hover {
  opacity: 0.8;
}

.cards {
  max-width: none; /* Overriding Explaain CSS */
}

.card {
  margin: 20px 0 0;
  text-align: left;
}
.slick-container .card {
  width: 380px;
}
.card.postcode, .card.share, .card.vote-worth, .card.postcode-compare, .card.more-stuff {
  text-align: center;
}
.card.expandable {
  max-width: 600px;
}

.card .card-visible {
  padding: 0;
}
.card .card-visible .close {
  display: none !important; /*Temporary */
}
.step.wide .card, .step.wide .card .card-visible, .step.wide .card .content, .step.wide .card section {
  /* todo: why is this needed? */
  height: 300px;
}
.card section {
  padding: 0;
  max-width: none;
}
.card section.divider {
  border-top: 1px solid #ddd;
  padding: 10px;
}
.card div.step-number {
  position: absolute;
  left: -20px;
  margin-top: -31px;
  font-size: 1.5em;
  color: #bbb;
  z-index: 1000;
  background-color: #dd2569;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7
}
section .card section {
  padding-bottom: 1em;
}
section.wide .card section.expandable {
  display: table-cell;
}
section .card section.card-media {
  background-position: center;
  background-size: cover;
}
section.wide .card section.card-media {
  width: 45%;
}
section.wide .card.story section.card-media {
  width: 55%;
}
section:not(.wide) .card section.card-media {
  min-height: 250px;
}

.card .content, .card .content > div, .card .content section, .card .content h2, .card .content .body-content  {
  overflow: hidden;
}
.card .content {
  margin: 0;
}
.card .body-content {
  margin: auto;
  margin-top: -25px;
}
.card .content h2 {
  margin: 1em 0;
}
.card .content > div > p {
  margin: 1em 0 -0.3em 0;
  padding: 0 1em;
}
.card .content .card-image {
  overflow: hidden;
  margin: 0;
}
.card .content .card-image img {
    transform: inherit;
}

/* igor: on result cards we want text to be alighed left, temporary */

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

/* igor: styling a form in the card */

.card form.postcode-form {
  margin: 30px 0 25px;
}

.card.postcode-compare .card-visible, .card.postcode-compare .content, .card.postcode-compare .content > div, .card.postcode-compare .content section, .card.postcode-compare .content .body-content  {
  overflow: visible;
}

/* hack */
.card.no-card-overflow .card-visible, .card.no-card-overflow .content, .card.no-card-overflow .content > div, .card.no-card-overflow .content section, .card.no-card-overflow .content .body-content {
  overflow: visible;
}
/* end hack */

.card.postcode-compare .body-content {
  padding: 10px;
  line-height: 1.2;
}
.card.postcode-compare input,
.card.postcode-compare button {
  transition: height 0.5s, padding: 0.5s;
  -webkit-transition: height 0.5s, padding: 0.5s;
}
.card.postcode-compare .content:not(.resultsLoaded) form.postcode-form input {
  height: 42px;
  font-size: 1.02em;
}
.card.postcode-compare .content:not(.resultsLoaded) form.postcode-form button {
  padding: 6px 16px;
  font-size: 1.02em;
  margin-top: -3px;
  background-color: #dd2569;
  color: white;
  border: 4px #dd2569 solid;
}
.card.postcode-compare .content:not(.resultsLoaded) form.postcode-form button:hover {
  color: #dd2569;
  background-color: white;
}

.card form.postcode-form button[type="submit"] {
  margin:0 2px;
}

.card form.postcode-form input[type="text"] {
  max-width: 30%;
  display: inline-block;
  margin: 0 2px 0 2px;
}

.card.postcode-compare section button {
/*   padding: 12px 12px; */
/*   font-size: 1.02em; */
}

.card.postcode-compare .content.resultsLoaded .get-registered .layout-table {
  margin-top: -20px;
}
.card.postcode-compare .content.resultsLoaded .register button, .card.postcode-compare .content.resultsLoaded .goToQuiz button {
  width: 100% !important;
}
.card.postcode-compare .content.resultsLoaded .register a.btn, .card.postcode-compare .content.resultsLoaded .goToQuiz a.btn {
  width: 100% !important;
}

.card.postcode-compare .register button {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.card.postcode-compare .register button:hover {
  background-color: #449d44;
  border-color: #398439;
}
.card.postcode-compare .goToQuiz button {
  background-color: #dd2569;
  border-color: #dd2569;
}
.card.postcode-compare .goToQuiz button:hover {
  opacity: 0.7;
}
.card.postcode-compare .content.resultsLoaded .learn-more button, .card.postcode-compare .content.resultsLoaded .register button, .card.postcode-compare .content.resultsLoaded .goToQuiz a {
  padding: 12px 12px;
  font-size: 1.02em;
}

.card.postcode-compare .content.resultsLoaded p.small-link {
  margin: 20px;
  font-size: 0.8em;
}


.card form.postcode-form input[type="text"]::-webkit-input-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]::-moz-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]:-ms-input-placeholder { font-size:12px }
.card form.postcode-form input[type="text"]:-moz-placeholder { font-size:12px }

.card h2 {
  font-weight:900;
  line-height: 1.2;
}

/* igor: animation */

.dashboard h1, .step h1{
  animation-name: h1pop;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes h1pop {
  0% {transform:translateY(-20px);opacity:0}
  100%  {transform:translateY(0px);opacity:1}
}

.dashboard h2 {
  animation-name: h2pop;
  animation-duration: .4s;
  opacity:0;
  animation-fill-mode: forwards;
  animation-delay: .3s
}

@keyframes h2pop {
  0% {transform:translateY(-10px);opacity:0}
  100%  {transform:translateY(0px);opacity:1}
}

.task {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.task:nth-of-type(1){animation-delay: .6s}
.task:nth-of-type(2){animation-delay: .8s}
.task:nth-of-type(3){animation-delay: 1s}
.task:nth-of-type(4){animation-delay: 1.2s}
.task:nth-of-type(5){animation-delay: 1.4s}
.task:nth-of-type(6){animation-delay: 1.6s}
.task:nth-of-type(7){animation-delay: 1.8s}

@keyframes taskpop {
  0% {transform: scale(0,0);}
  80%  {transform: scale(1.1,1.1);}
  100%  {transform: scale(1,1);}
}

.card:not(.noAnim),
.cardAnim,
.seats {
  animation-name: cardpop;
  animation-duration: .3s;
  opacity:0;
  animation-fill-mode: forwards;
}

.cardAnim,
.card:nth-of-type(1){animation-delay: .2s}
.card:nth-of-type(2){animation-delay: .4s}
.card:nth-of-type(3){animation-delay: .6s}
.card:nth-of-type(4){animation-delay: .8s}

@keyframes cardpop {
  0% {transform: scale(.8,.8); opacity:0}
  60%  {transform: scale(1.1,1.1);opacity:1}
  100%  {transform: scale(1,1);opacity:1}
}

@keyframes cardunpop {
  0% {transform: scale(1,1); opacity:1}
  40%  {transform: scale(1.1,1.1);opacity:1}
  99%  {transform: scale(0.8,0.8);opacity:0;}
  100%  {transform: scale(0.8,0.8);opacity:0;display:none}
}

/* igor: .task-category hiding, temporary */

.task-category {display: none}

/* igor: top-strip */

.top-strip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  /*background-image: url(/img/strip.jpg);*/
  background-color: #dd2569;
  background-size: auto 100%;
  z-index:3;
  background-position: center;
}

.body.quiz .top-strip {
  display: none;
}

@media only screen and (max-width: 500px) {
  .top-strip {
    background-size: 100%;
  }
}

/* igor: card footer */

.card .footer {
/*   margin-top:20px; */
  border-top: solid 1px #ddd;
  padding: 10px;
  text-align: center;
}

/* igor: we want Explaain to ignore some <a> tags in the card and do not style it, temporary */

a.discard-card-style,
a.discard-card-style:hover,
a.discard-card-style:active,
a.explaain-link.discard-card-style,
a.explaain-link.discard-card-style:hover,
a.explaain-link.discard-card-style:active,
.card .content a.discard-card-style,
.card .content a.discard-card-style:hover,
.card .content a.discard-card-style:active{
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  text-decoration: none !important;
  color: inherit !important;
}

/* igor: Social buttons */

.share-buttons {
  margin: 20px;
}

.share-buttons .btn {
  margin: 5px 5px;
}

.btn-facebook {
  background-color: #3b5998 !important;
  color: white !important;
}

.btn-facebook:hover {
  background-color: #2b4988 !important;
  color: white !important;
}

.btn-twitter {
  background-color: #00aced !important;
  color: white !important;
}

.btn-twitter:hover {
  background-color: #009cdd !important;
  color: white !important;
}

/* igor: text styles */

.small {
  font-size:12px;
  margin-bottom: 0;
}

.big {
  font-size: 20px;
}

.bold {
  font-weight:600;
}

.line1em {
  line-height:1em;
}


/* Seats in the location-compare form */

.seats {
  margin: 20px 0
}

.seat .impact {
  color: #da368f;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.seats.swings-2 .impact {
  display: none;
}
.seat .impact i {
  display: block;
  margin: -3px 0 3px;
  font-size: 1.4em;
}

.seat .versus{
  min-height: 210px;
  border-radius: 10px;
  overflow: hidden;
  /*   height: 200px; */
  border: 1px solid #ddd;
  padding: 10px 5px;
}
.seat .versus.swing-true {
  border: 4px solid #da368f;
  margin: -3px 0;
}


.seat {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.seat:nth-of-type(1){animation-delay: .3s}
.seat:nth-of-type(2){animation-delay: .5s}
.seat:nth-of-type(3){animation-delay: .7s}
.seat:nth-of-type(4){animation-delay: .9s}


.step-number {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.step-number.step-1{animation-delay: 1s}
.step-number.step-2{animation-delay: 1.2s}
.step-number.step-3{animation-delay: 1.4s}
.step-number.step-4{animation-delay: 1.6s}

.seat .location {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 1.3em;
}
.seat .versus.swing-true .location {
  color: #da368f;
}
.seat .location
.seat .constituency {
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px;
  font-style: italic;
}
.seat .versus .swing-icon {
  font-size: 60px;
  color: #999;
  margin: 10px;
}
.seat .versus.swing-true .swing-icon {
  color: #da368f;
}


/* .seat .versus .party {
  padding: 10px;
  height: 50%;
  border-top: 1px solid #bbb;
} */
/* .seat .versus .party:nth-child(1) {
  border: none;
} */
.seat .versus .parties-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
.seat .versus .parties {
  width: 100%;
}
.seat .vs {
  display: inline-block;
  color: #999;
  font-weight: 400;
  padding: 0 5px;
}
.seat .versus .party .name {
  color: white;
  line-height: 1.4;
  font-size: 1em;
  /* font-weight: 400; */
/*   vertical-align: middle; */
/*   position: relative; */
/*   top: 50%; */
/*   transform: translateY(-50%); */
  /*   display: none; */
}

/* igor: 50% width columns in cards */
.card .column50 {
  text-align: center;
  display: inline-block;
  margin: 0px;
}
.body-content.results {
  border-top: 1px solid #ddd;
  margin: auto;
}
.body-content.no-top-border {
  border-top: none;
}
.body-content.contains-cards {padding: 5px 5px 20px 5px}
.card.postcode-compare h2 {font-size: 1.4em;display: block;}
.card.postcode-compare h2 img {
  height: 1.25em;
  margin-top: -5px
}
.card.postcode-compare .body-content h3 {
  font-size: 0.95em;
  margin: 15px 0 4px 0;
}
.card.postcode-compare .body-content p {
  font-size: 0.8em;
  margin: 0 0 25px 0;
  line-height: 1.5;
}
.card.postcode-compare .explaainified {
  line-height: 1.7;
}
.card.postcode-compare .body-content div.bold {
  font-size: 1.2em;
  line-height: 1.3;
}
.card.postcode-compare .body-content div.subheading {
  font-size: 0.9em;
  margin: 10px 0 5px;
}
.card.postcode-compare .body-content .seats.swings-2 div.subheading {
  color: #da368f;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.card.postcode-compare .body-content .seat-list {
  display: table;
  width: 100%;
}
.card.postcode-compare .share-buttons {
  margin: 10px;
}
.card.postcode-compare .share-buttons .btn {
  padding: 12px 24px;
/*   width: calc(50% - 10px); */
  font-size: 1.02em;
}
.card.postcode-compare section {
  width: 100%;
}
.card .layout-table {
  display: table;
  margin: auto;
}
.card.postcode-compare .column {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}
.card.postcode-compare .seat.column50 {
  /* display: table-cell; */
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.card.postcode-compare .seat.column50 div.party {
  background-size: cover;
  background-position: center;
/*   background-image: none !important; */
/*   background-color: #e6e6ff; */
}
.card.postcode-compare .seat.column50 img.party-image {
  width: 50%;
}





.card .content.padded .body-content {
  margin-top: 0;
  padding: 20px;
}
.card .content.padded section {
  padding: 20px;
}
.card .content.padded button {
  margin: 5px;
}


.popup {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.popup:nth-child(1){animation-delay: 0.1s}
.popup:nth-child(2){animation-delay: 0.2s}
.popup:nth-child(3){animation-delay: 0.3s}
.popup:nth-child(4){animation-delay: 0.4s}
.popup:nth-child(5){animation-delay: 0.5s}
.popup:nth-child(6){animation-delay: 0.6s}
.popup:nth-child(7){animation-delay: 0.7s}
.popup:nth-child(8){animation-delay: 0.8s}
.popup:nth-child(9){animation-delay: 0.9s}
.popup:nth-child(10){animation-delay: 1.0s}
.popup:nth-child(11){animation-delay: 1.1s}
.popup:nth-child(12){animation-delay: 1.2s}



/* Progress bar */

.progress {
  height:12px;
  width:200px;
  border: solid 1px #ccc;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  max-width: calc(60vw - 40px);
}

.body.standalone header .progress {
  display: none;
}

.progress-inner {
  background-color: #c042de;
  height:100%;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  transition: width .5s;
}

.body._38degrees .progress-inner {
  background-color: #FF7900;
}

/* Fixing specific browsers */

/* Safari Mac */

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input:focus::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* phrases dropdowns */


div.phraseSamples {
  min-height: 8em;
}
div.phrase {
  margin-right: 0.3em;
  display: inline-block;
}

.phrase, .phrase select, .phrase select option {
  font-size: 1.8em;
}

button.phrase-button {
  text-transform: capitalize;
}

.quiz-btn-container {
  margin: 10px 0;
}

div.phrase-buttons {
  display: none;
}

span.quote-mark {
  display: block;
  margin-right: 0.2em;
  margin-top: -0.5em;
  margin-bottom: -0.8em;
  font-size: 5.8em;
  opacity: 0;
  font-family: serif;
}
.hoverClick span.quote-mark {
  opacity: 1;
}

div.body-content.hoverClick:hover {
  cursor: pointer;
  background-color: rgba(200,200,200,0.2)
}


.phrase-input {
  max-width: 150px;
  display: inline-block;
  margin-right: 10px;
}

.phrase-form {
  max-width: 250px;
  margin: auto;
  margin-top: 15px;
}

.phraseSamples, .help {
  display: none;
}
.hoverClick .phraseSamples, .hoverClick .help {
  display: block;
}

.phrase.phraseBold {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #555;
}
.phrase.phraseHighlight {
  color: #dd2569;
  background: rgba(221, 37, 105, 0.1);
}

.card button.btn.highlightButton {
  margin: 5px;
  background: rgba(95, 95, 95, 0.1);
  border: none;
  border-radius: 0;
  font-weight: 500;
  color: #dd2569;
  font-size: 0.6em;
  color: #555;
}
.card button.btn.highlightButton:hover {
  background: rgba(221, 37, 105, 0.1);
  color: #dd2569;
}


div.card div.content.single-sentence > div.body-content {
  margin: 0;
  padding: 40px 20px;
}

.card .content .help {
  font-size: 1.1em;
  color: #dd2569;
  font-weight: 600;
  font-family: Lato, Helvetica, sans-serif;
}

footer {
  margin-top: 25px;
}



.cards.sentence section.divider {
  background: rgba(225,225,225, 0.1);
  display: none;
}

.card.resultParty .body-content {
  margin-top: 10px;
  display: none;
}

/* Quiz for 18 May 2017 */

.card.quiz-percentages .content {
  padding: 20px;
}

p.waiting-text {
  position: absolute;
  left: 0;
  right: 0;
  color: #999;
  top: 15px;
  padding: 0 70px;
}

.quizAnswersYesNo {
  margin-top:20px;
  text-align: center;
}

.quizAnswerYesNo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 3px grey;
  border-radius: 6px;
  font-size:24px;
  height:80px;
  width:115px;
  line-height: 24px;
  font-weight: bold;
  margin: 60px 5px 90px 5px;
  cursor: pointer;
}

.quizAnswerYesNo.no {
  border-color: red;
  color: red;
}

.quizAnswerYesNo.no:hover {
  color: white;
  background-color: red;
}

.quizAnswerYesNo.yes {
  border-color: green;
  color: green;
}

.quizAnswerYesNo.yes:hover {
  color: white;
  background-color: green;
}
.quizSubquestion {
  margin: 10px;
}

.quizSubquestionLabel {
  display: inline-block;
  background-color: gray;
  color: white;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 20px 0;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.quizSubquestionLabel.yes {
  animation-name: quizfloatYes;
}

.quizSubquestionLabel.no {
  animation-name: quizfloatNo;
}

@keyframes quizfloatYes {
  0% {transform: translateY(60px) translateX(60px);}
  80%  {transform: translateY(-5px) translateX(-5px);}
  100%  {transform: translateY(0px) translateX(0px);}
}

@keyframes quizfloatNo {
  0% {transform: translateY(60px) translateX(-60px);}
  80%  {transform: translateY(-5px) translateX(5px);}
  100%  {transform: translateY(0px) translateX(0px);}
}

.quizSubquestionAnswer {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: calc(100% - 40px);
  min-height: 50px;
  vertical-align: top;
  margin: 5px 10px;
  padding: 0 10px;
  text-align: left;
  line-height: 1.3;
  color: #00a2e5;
  text-decoration: none;
  border-radius: 10px;
  border: solid 3px #00a2e5;
  cursor: pointer
}

.quizSubquestionAnswer:before {
  content: "+ ",
  margin-right: 15px;
}
.quizSubquestionAnswer::before {
  content: "+ ",
  margin-right: 15px;
}

.quizSubquestionAnswer:hover {
  color: white;
  background-color: #00a2e5;
}

.body._38degrees .quizSubquestionAnswer {
  border-color: #00ADD0;
  color: #00ADD0;
}
.body._38degrees .quizSubquestionAnswer:hover {
  background-color: #00ADD0;
  color: white;
}

.quizSubquestionOr {
  margin: 0;
}

.quizSubquestionSkip {
  display: inline-block;
  /*font-size:20px;*/
  font-weight: bold;
  padding: 10px 20px;
  /*background-color: #dd2569;*/
  border: solid 3px #dd2569;
  /*color: white;*/
  color: #dd2569;
  border-radius:6px;
  border-radius: 10px;
  margin: 5px 0;
  width: calc(100% - 40px);
  cursor: pointer;
}

.quizSubquestionSkip:hover {
  background-color: #dd2569;
  color: white;
}

.body._38degrees .quizSubquestionSkip {
  border-color: #FF7900;
  color: #FF7900;
}
.body._38degrees .quizSubquestionSkip:hover {
  background-color: #FF7900;
  color: white;
}

.quizPercentages {
  width:100%;
  position: relative;
  height:160px;
  padding: 10px 0;
  margin: 50px 0 20px;
}

.quizPercentagesParty {
  height:calc(100% - 40px);
  margin-top:40px;
  display: inline-block;
  width: calc(16.67vw - 20px);
  max-width: 50px;
  position: relative;
}

.quizPercentagesPartyPodium {
  box-sizing: content-box;
  width:30px;
  left: 20%;
  width: 60%;
  opacity: 0.6;
  padding-top:20px;
  z-index:1;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
}

.quizPercentagesPartyFace {
  width:40px;
  height: 40px;
  left: 10%;
  width: calc(13.33vw - 16px);
  height: calc(13.33vw - 16px);
  max-width: 40px;
  max-height: 40px;

  border-radius: 100%;
  z-index:2;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:hover .quizPercentagesPartyFace {
  border: 3px #dd2569 solid;
}

.quizPercentagesPartyFace.absolute {
  position: absolute;
  background-size: 80%;
  background-position: bottom;
}

.quizPercentagesPartyFace.inline {
  display: inline-block;
  margin: 10px 5px 0px 5px;
  background-size: 80%;
  background-position: bottom;
}
.quizPercentagesPartyPercent.absolute {
  width:40px;
  height: 40px;
  left: calc((100% - 40px)/2);
  border-radius: 100%;
  z-index:2;
  position: absolute;
  margin-bottom: 30px;
  color: #999;
}

.quizPercentagesPartyPodium{
  -webkit-transition: height .6s;
  transition: height .6s;
}

.quizPercentagesPartyFace{
  -webkit-transition: bottom .6s;
  transition: bottom .6s;
}
.quizPercentagesPartyPercent{
  -webkit-transition: bottom .6s;
  transition: bottom .6s;
}

.countries {
  margin-bottom: 20px;
}

.action-buttons .register button, .action-buttons .goToQuiz a {
  padding: 12px 42px !important;
  min-width: 70%;
}

.quizPop {
  animation-name: quizpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}

.quizPop.quick:nth-of-type(1){animation-delay: 0s}

.initial.quizPop:nth-of-type(1){animation-delay: .2s}
.initial.quizPop:nth-of-type(2){animation-delay: .3s}

.secondary.quizPop:nth-of-type(1){animation-delay: .2s}
.secondary.quizPop:nth-of-type(2){animation-delay: .2s}
.secondary.quizPop:nth-of-type(3){animation-delay: .3s}
.secondary.quizPop:nth-of-type(4){animation-delay: .8s}

@keyframes quizpop {
  0% {transform: scale(0,0);}
  80%  {transform: scale(1.1,1.1);}
  100%  {transform: scale(1,1);}
}

.bigActionButton {
  display: inline-block;
  font-size:20px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #dd2569;
  color: white;
  border-radius:6px;
  margin: 10px 0 30px;
  cursor: pointer;
  border: solid 2px #dd2569;
}

.startQuiz {
  display: inline-block;
  font-size:20px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #dd2569;
  color: white;
  border-radius:6px;
  margin: 10px 0 30px;
  cursor: pointer;
  border: solid 2px #dd2569;
}
.startQuiz:hover {
  background-color: white;
  color: #dd2569;
  /*border-color: #ddd;*/
}

.body._38degrees .startQuiz {
  background-color: white;
  border-color: #FF7900;
  color: #FF7900;
}
.body._38degrees .startQuiz:hover {
  background-color: #FF7900;
  border-color: #FF7900;
  color: white;
}

.card.quiz-extra {
  /*margin: 0;*/
}

.body._unilad .or, .body._unilad .card.quiz-extra, .body._38degrees .or, .body._38degrees .card.quiz-extra {
  display: none;
}

.card.quiz-extra .card-visible {
  padding: 10px 20px;
}

.card.quiz-extra a.btn {
  padding: 0.5em 2em;
  margin: 0 0 1.5em;
}

.quizCountrySelector {
  cursor: pointer;
}

.quizCountrySelector:hover {
  background-color: #f1f1f1;
}

.quizBack,
.quizSkip {
  width:60px;
  color: #ccc;
  cursor: pointer;
  margin-top: -5px;
}

.quizSkip:hover,
.quizBack:hover {
  font-weight: bold;
}

.quizBack {
  float: left;
}

.quizSkip {
  float: right;
}

.quizTopLine {
  overflow: hidden;
  margin-top:10px;
}

.quizTopLine > * {
    position: relative;
    z-index: 5;
    display: block;
}

.spacer {
    height: 20px;
}

/* To center the progress bar */
.progress-container {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1 !important;
}

.body.quiz div.questions .card:nth-child(1) {
  /*margin-top: 10px;*/
}
.body.quiz div.questions > div:nth-child(1) .card .card-visible {
  /*min-height: 300px;*/
}

.content.quiz-intro .quizPercentagesParty {
  pointer-events: none;
  cursor: default;
}

.quizPercentagesPartyName.absolute {
    position: absolute;
    width: 100%;
    bottom: -25px;
    color: #777;
    font-weight: bold;
}

.partyNameSpacer {
  height: 30px;
}

.quizTopLine .progress {
  margin: 0 auto;
}
.quizTopLine .progress-inner {
  background: #dd2569;
}
.quizResults {
  padding: 20px;
}
.retake {
  margin: 30px 0 -5px;
  font-weight: 600;
  color: #777;
}
.quizResults h2 {
  color: #dd2569;
}
.quizResults img {
  float: left;
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
}
.quizResults p {
  margin-top: 50px;
}

.body:not(._unilad) .questions .quizResults {
  display: none;
}

.politicalanimal {
  display: none;
}
.body._unilad .politicalanimal {
  display: block;
}
.body._unilad .politicalanimal img {
  width: 180px;
  margin: -10px 0 10px;
}

a.turnupFooter:hover, a.ge2017Footer:hover {
  opacity: 0.7;
}

.partyFade {
    position: absolute;
    width: 100%;
    top: -70px;
    z-index: 10000;
    background: rgba(255,255,255,0.8);
    bottom: -30px;
}

.card.finalResult .card-visible {
  margin-bottom: 20px;
}
.card-visible.text-center.action-buttons {
  margin-top: 20px;
}

.quizPercentages.topLayer {
  /*margin: 120px 0 40px;*/
  /*height: 60px;*/
}
.card.finalResult p.register button, .card.finalResult p.goToQuiz a {
  padding: 12px 42px !important;
  min-width: 70%;
}
.quizPercentages.middleLayer {
  margin: 80px 0 60px;
  height: 60px;
}
.quizPercentages.topLayer .quizPercentagesParty {
  max-width: 150px;
  width: calc(50vw - 20px);
}
.quizPercentages.middleLayer .quizPercentagesParty {
  max-width: 100px;
  width: calc(33.3333vw - 20px);
}
.quizPercentages.middleLayer .quizPercentagesPartyPodium, .quizPercentages.topLayer .quizPercentagesPartyPodium {
  display: none;
}
.quizPercentages.topLayer .quizPercentagesPartyFace {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
}
.quizPercentages.middleLayer .quizPercentagesPartyFace {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
}
.quizPercentages.topLayer .quizPercentagesPartyPercent {
  margin-bottom: 110px;
  width: 100px;
  left: calc((100% - 100px)/2);
}
.quizPercentages.middleLayer .quizPercentagesPartyPercent {
  margin-bottom: 70px;
}

.card .card-visible div.step-number {
  margin-top: -20px;
}
.card .card-visible section > div.step-number, .card .card-visible .body-content > div.step-number, .card .card-visible .footer > div.step-number {
  margin-top: -31px;
}

.body.quiz p.small {
  font-size: 13px;
  margin: 1.5em 2em;
}
.body.quiz .finalResult p.small {
  margin: 3.5em 2em 1.5em;
}

.card-carousel .postcode-instructions {
  margin-bottom: 20px; /* For when postcode disappears */
}
.body.quiz._unilad .postcode-instructions {
  display: none;
}
.body.quiz._unilad .postcode-form {
  display: none;
}


.body.quiz._unilad .bestMatchSoFar {
  display: none;
}
.body.quiz._ge2017 .bestMatch {
  display: none;
}


.body.quiz._ge2017 .resultTips {
  display: none;
}


.or {
  animation-name: taskpop;
  animation-duration: .2s;
  transform: scale(0,0);
  animation-fill-mode: forwards;
}




section.single-sentence {
  margin-top: 60px;
}

.card.postcode-compare {
  margin-top: 50px;
}

.quizSafeSeatText {
  margin: 20px;
}

.pink {
  color: #dd2569;
}

.explaained a {
  padding: 0 3px !important;
  background: #ebebeb !important;
  border: 1px solid #ebebeb !important;
  text-decoration: none !important;
  color: #333 !important;
  box-shadow: none !important;
}
.explaained a.highlighted {
  color: white !important;
  background: #ff6e73 !important;
  border: 1px solid #ff6e73 !important;
  box-shadow: none !important;
}


h2.seeHow {
  /*margin-bottom: 50px;*/
}

.body._38degrees .card.percentageHeads {
  /*display: none;*/
}

.body.quiz._unilad .card.results-top {
  display: none;
}
.body.quiz._unilad h2.seeHow {
  display: none;
}
.body.quiz._unilad .step-number {
  display: none;
}

.body.quiz footer a.ge2017Footer img {
  height: 50px;
}

.priority+.questions .quizPercentages {
    margin-top: 35px  !important;
}
.quiz-topic-plate {
    padding: 5px !important;
    width: 50%;
    border: 0 !important;
    background: none !important;
    color: black;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.quiz-topic-plate > div {
    display: block;
    padding: 10px 10px 10px 20px !important;
    border: 2px solid #DD266A !important;
    border-radius: 4px;
    text-transform: capitalize;
    text-align: left;
}
.card.priority .body-content {
    padding: 25px;
}
.quiz-topic-plate span {
    position: relative;
}
span.t-featured {
    display: block !important;
    position: absolute !important;
    right: 15px !important;
    top: 5px;
    font-size: 30px;
}
.quiz-topic-plate:hover > div {
    color: black !important;
    background: #EEE;
}

.q-priority + .priority {
    clear: both;
    margin-bottom: 10px;
}

.q-priority + .priority:after {
    content: "";
    clear: both;
    margin-bottom: 10px;
    display: block;
}

.submitPriorities {
    padding: 6px 10px !important;
}

.helper-text {
  margin: 10px;
  display: inline-block;
  line-height: 1.4;
}
.card .content .helper-desc {
  margin: 0px 0 30px;
  line-height: 1.4;
}


.body._38degrees .tactical-top-match,
.body._38degrees .quizPercentages.middleLayer:not(.basic-top-match),
.body._38degrees h2.breakdown,
.body._38degrees p.small.tactical-info,
.body._38degrees h3.inTheLead {
  display: none;
}

.body:not(._38degrees) .middleLayer.basic-top-match,
.body:not(._38degrees) .hybrid-top-match,
.body:not(._38degrees) p.small.tactical-info-2,
.body:not(._38degrees) .seeHow {
  display: none;
}

.hybrid-top-match .quizPercentagesParty {
  max-width: none;
  width: auto;
  margin-top: 0;
}
.hybrid-top-match {
  margin: 20px 0 70px;
}
.hybrid-top-match .quizPercentagesPartyFace {
  margin: 0 5px 20px;
}
.hybrid-top-match .quizPercentagesPartyPodium {
  display: none;
}
.hybrid-top-match .isMatch .quizPercentagesPartyFace {
  max-width: 80px;
  max-height: 80px;
  width: 80px;
  height: 80px;
  margin-bottom: 0;
}
.quizPercentagesPartyBadge {
  margin: 10px 5px;
  border-radius: 100%;
  z-index:2;
  font-weight: bold;
  color: #555;
}
.isMatch .quizPercentagesPartyBadge {
  bottom: 45px;
}
.quizPercentagesPartyMatch {
  color: #dd2569;
  font-weight: bold;
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
}
.body._38degrees .quizPercentagesPartyMatch {
  color: #FF7900;
}

.quizPercentagesParty.inline {
  display: inline-block;
}
.quizPercentages.topLayer .quizPercentagesParty {
  height: 120px;
  margin-top: 0;
}
.quizPercentages.topLayer .quizPercentagesParty .quizPercentagesPartyFace {
  bottom: 0 !important;
}
.quizPercentages {
  height: 120px;
  padding: 0;
}

.otherParties {
  margin-bottom: 40px;
}
.finalResult .quizPercentagesPartyPercent {
  bottom: 0 !important;
}
#tactical-mode .finalResult .quizPercentagesPartyPercent {
  bottom: auto !important;
}
.body:not(._38degrees) .finalResult .quizPercentages.topLayer {
  margin-top: 50px;
}

.body:not(._unilad) .oldResultsFormat {
  display: none;
}
.toplogo {
    text-align: center !important;
}
.logoanchor {
    display: inline-block !important;
}
.body._38degrees .scrollDown,
.body._38degrees .seeHowAlt {
  display: none;
}


.body._38degrees p.info-text.fading-info {
  display: none;
}
.fading-info {
  margin: 50px 20px 0px;
}

.body.quiz._ge2017 a.quizPercentagesParty {
  /*pointer-events: none;*/
}
/*.body.quiz._ge2017 a.quizPercentagesParty:nth-child(3){
  margin-top: 70px;
}*/
.body.quiz._38degrees a.quizPercentagesParty {
  /*pointer-events: none;*/
}

.body.quiz._ge2017 p.small-link.calculate.onFinalResults {
  margin: 60px 0 -20px;
}

.basic-top-match {
  height: 190px;
  padding: 40px 0px;
  margin: 0 0 -40px;
}
.basic-top-match .quizPercentagesPartyPercent {
  bottom: 0 !important;
}
.middleLayer .quizPercentagesPartyFace,
.middleLayer .quizPercentagesPartyPercent {
  bottom: 0 !important;
}


.at-expanding-share-button-toggle-bg {
  bottom: 0px !important;
}

.quiz-intro p.italics {
  margin-bottom: -30px;
}
.startQuiz {
  margin-top: -20px;
}

.action-buttons .share-buttons button,
.card .content .action-buttons .share-buttons button.btn {
  padding: 12px;
  width: calc(50% - 10px);
  max-width: 130px
}

p.shareText {
  margin: 50px 0 -40px;
}
.bestMatchSoFar + .basic-top-match {
  height: auto !important;
}

/* Final result: Carousel stuffs */

.carousel-nav-container {
    margin-bottom: -15px;
}
.carousel-nav-item {
    display: inline-block;
    background: white;
    border: 1px solid #CCC;
    border-radius: 3px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    color: #DD266A;
    font-weight: bold;
    width: 23%;
    padding: 10px 5px 5px;
    margin: 1%;
    text-decoration: none !important;
    line-height: 1em;
    /*border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;*/
}

.card-carousel {
  margin: 0 -15px -15px;
}
.card-carousel img {
  display: inline;
}

.carousel-emoji {
    font-size: 23px;
    margin-bottom: 6px;
}

/* This is tremendously lazy,
  but the templating system's weird conditional scoping/handling is driving me mad */
.card-carousel-nav {
  z-index: 999;
  position: relative;
}
.card-carousel-nav ~ div .step-2,
.card-carousel-nav ~ div .step-3,
.card-carousel-nav ~ div .step-4 {
    display: none;
}

.NWA {
  pointer-events: none; /* Prevent explaainy nonsense in the carousel. Quietly disagree with the authorities. */
}
.onLoad .pickAVotingOption {
    max-width: 200px;
    transition: max-width 0.3s ease;
}
.pickAVotingOption {
    margin-right: 5px;
    max-width: 0px;
    transition: max-width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}
.pickAVotingOption,
.pickAVotingOption + a {
    vertical-align: middle;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 0px;
}

.slick-slide:first-child .card-visible {
    margin-bottom: 0 !important;
}
/* Hide tactical voting, normally */
/* Hide tactical voting, normally */
.card-carousel + div .card.percentageHeads {
    /*transition: all 0.2s ease;*/
    display: none;
    opacity: 0;
    /*animation: cardunpop;
    animation-duration: .3s;
    animation-fill-mode: forwards;*/
}
.card-carousel + div .card.percentageHeads .card-visible {
  margin-top: 35px;
}
.card-carousel[data-carousel-current="0"] + div .card.percentageHeads,
/* Hide for tactical option */
.card-carousel[data-carousel-current="2"] + div .card.percentageHeads,
.card-carousel[data-carousel-current="3"] + div .card.percentageHeads {
    /*transition: all 0.2s ease;*/
    display: block;
    opacity: 1;
    animation: cardpop;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
[data-carousel-link] {
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.3);
    border: none;
}

[data-carousel-link]:hover {
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.3), inset 0px -1px 1px 0px rgba(0,0,0,0.1);
    background: #EEE;
}

[data-carousel-link]:active,
.carousel-selected {
    box-shadow: inset 0px 3px 0px 0px rgba(0,0,0,0.3);
    color: white;
}

.carousel-selected {
  background: #DD276B;
}
.carousel-selected:hover {
  background: #E0427E;
  color: white !important;
}
[data-carousel-link]:active {
    background: #C11255 !important;
}

p.small-link.calculate a {
  padding: 0 3px !important;
  background: #ebebeb !important;
  border: 1px solid #ebebeb !important;
  text-decoration: none !important;
  color: #333 !important;
  box-shadow: none !important;
}
p.small-link.calculate a:hover {
  color: white !important;
  background: #ff6e73 !important;
  border: 1px solid #ff6e73 !important;
  box-shadow: none !important;
}

a.democracyclub-logo {
  display: block;
  margin: 20px;
}
a.democracyclub-logo p {
  font-size: 14px;
  color: grey;
}
a.democracyclub-logo img {
  height: 40px;
}
a.democracyclub-logo:hover {
  opacity: 0.7;
  text-decoration: none;
}



/* ----
  Tactical animation
*/
/* -Before */
.constituencyTacticalInfo {
  display: none;
}

.tactical.match1,
.tactical.match2,
.tactical.pointer {
  display: none;
  opacity: 0;
  /*transition: all 1s ease;*/
}
#tactical-mode.tacticalInit .match1 .tactical.match1,
#tactical-mode.tacticalInit .match2 .tactical.match2,
#tactical-mode.tacticalPromote .chosenCandidate .tactical.pointer {
  display: block;
  opacity: 1;
  transition: all 1s ease;
}

#tactical-mode.tacticalInit {
  transition: height 1s ease !important;
}

#tactical-mode.tacticalDemote .quizPercentagesParty {
  opacity: 1;
  max-width: none;
}

/* --
  Hide the graphy stuff
*/
#tactical-mode.tacticalInit .partyFade
#tactical-mode.tacticalInit .quizPercentagesPartyPodium,
#tactical-mode.tacticalInit .quizPercentagesPartyPercent,
#tactical-mode.tacticalInit .quizPercentagesPartyName {
    opacity: 1;
    transition: opacity 1.5s ease !important;
}
#tactical-mode.tacticalGraph .partyFade,
#tactical-mode.tacticalGraph .quizPercentagesPartyPodium,
#tactical-mode.tacticalGraph .quizPercentagesPartyPercent,
#tactical-mode.tacticalGraph .quizPercentagesPartyName {
    opacity: 0 !important;
    transition: opacity 1.5s ease !important;
}
#tactical-mode.tacticalGraph .quizPercentagesPartyFace {
    bottom: 0 !important;
}
#tactical-mode.tacticalDemote .partyFade,
#tactical-mode.tacticalDemote .quizPercentagesPartyPodium,
#tactical-mode.tacticalDemote .quizPercentagesPartyPercent,
#tactical-mode.tacticalDemote .quizPercentagesPartyName {
    opacity: 0 !important;
    display: none;
}
/* -- */

#tactical-mode.tacticalDemote .quizPercentages {
    position: relative;
    width: 100%;
    height: 380px;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    transition: height 0.3s ease !important;
}

#tactical-mode.tacticalCrown .chosenCandidate .tactical.pointer {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background: #DD276B;
    padding: 2px 4px;
    border-radius: 3px;
    z-index: 999;
    opacity: 1;
    display: inline-block;
    position: relative;
    width: auto;
    text-align: center;
    padding: 2px 6px;
    top: -14px;
}
#tactical-mode.tacticalCrown .chosenCandidate .tactical.pointer:after {
	top: 100%;
	left: 50%;
	border: solid #DD276B;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 0, 0, 0);
	border-top-color: #DD276B;
	border-width: 8px;
	margin-left: -8px;
}

#tactical-mode.tacticalDemote .quizPercentagesPartyFace {
    width: 40px;
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    position: relative;
    left: 0;
    top: 0;

    /* For transition to chosenCandidate */
    margin: 0 auto !important;
}
#tactical-mode.tacticalPromote .chanceMatches .quizPercentagesPartyFace {
    width: 95px !important;
    height: 95px !important;
    max-height: 95px !important;
    max-width: 95px !important;
    /*transition: all 0.5s ease;*/
}
#tactical-mode.tacticalCrown .chosenCandidate .quizPercentagesPartyFace {
    width: 120px !important;
    height: 120px !important;
    max-height: 120px !important;
    max-width: 120px !important;
    top: -5px;
    position: relative !important;
}

#tactical-mode.tacticalDemote .quizPercentagesParty {
  display: block;
  z-index: 999;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  transition: width 0.5s ease, height 0.5s ease;
}

#tactical-mode.tacticalDemote .percentagePartyStyleContainer {
  border: 3px solid transparent !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
  transition: width 0.5 ease, height 0.5 ease !important;
}

#tactical-mode.tacticalPromote .chanceMatches .quizPercentagesParty {
  padding-top: 0px;
  width: 170px !important;
  height: 180px !important
  border-color: #DD276B !important;
}

#tactical-mode.tacticalPromote .chanceMatches .percentagePartyStyleContainer {
  width: 100px !important;
  height: 180px !important;
  padding-top: 30px;
  /*transition: width 1s ease, height 1s ease !important;*/
}

#tactical-mode.tacticalCrown .chosenCandidate .percentagePartyStyleContainer {
  padding-top: 0px;
  width: 170px !important;
  border-color: #DD276B !important;
}

#tactical-mode.tacticalPromote .chanceMatches .quizPercentagesPartyName.absolute {
  display: block !important;
  opacity: 1 !important;
  z-index: 999;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: relative;
  margin: 0 auto !important;
}

.quizPercentageContainer {
    position: relative;
    margin-top: 20px;
}

.tacticalUI {
    position: absolute;
    width: 100%;
    height: 380px;
    top: 0;
    opacity: 0;
    display: none;
}
#tactical-mode.tacticalGraph .tacticalUI {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
    border: none !important;
}

.tacticalUI .box {
    padding: 50px;
    border: 1px solid #EEE;
    border-radius: 4px;
    background: white;
}

.tacticalUI .chanceMatches {
    height: 205px;
    position: relative;
}

.tacticalUI .noMatch,
.tacticalUI .noChance {
    height: 175px;
    width: 50%;
    float: left;
    position: relative;
    background: #FAFAFA;
}
.tacticalUI .chanceMatches:before,
.tacticalUI .noMatch:before,
.tacticalUI .noChance:before {
    display: block;
    position: absolute;
    color: #CCC;
    margin: 0 auto;
    width: 75%;
    left: 12.5%;
    top: 15px;
    line-height: 1.2em;
    font-weight: bold;
}
.tacticalUI .noMatch:before {
    content: "Don't match your views";
}
.tacticalUI .noChance:before {
    content: "Slim chance of winning";
}

#tactical-mode .tacticalUI .chanceMatches:before {
    margin-top: 50px;
    content: "Looks like there are no parties you agree with that stand a chance. Check the other voting options.";
    opacity: 0;
    transition: all 1.5s ease;
    color: #444444;
}

#tactical-mode.tacticalGraph.safeseat .tacticalUI .chanceMatches:before {
  opacity: 1;
  transition: all 1.5s ease;
}

.slick-slide .seeHowAlt {
    display: none;
}


.card.large-postcode .postcode-form input, .card.large-postcode .postcode-form button {
    height: 45px;
    width: 150px;
    max-width: 60%;
    font-size: 16px;
}
.card.large-postcode form.postcode-form button[type="submit"] {
  width: 80px;
  max-width: 35%;
  margin: -5px 0 0 4px;
}
.card.large-postcode.tactical .postcode-form {
  margin: 30px 0 70px;
}
.finalResult.basic .quizPercentagesPartyName {
  display: none;
}

p.bestMatchSoFar {
  padding: 0 20px;
}
img.spoil {
  width: 100%;
  padding: 0 20px 20px;
}
